#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


body{
  background-image: url("/viAndJinxFightBackground.png");
  background-size: cover;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form{
border:2px solid white;
padding:20px;
border-radius: 12px;

display: 'flex';
flex-direction: 'column';
gap: '10px';
width: '300px';
place-items: center;

}

#mainForm{
background-color: rgba(251, 75, 6, 0.809);
border-radius: 12px;


}

button:hover{
background-color: rgb(255, 255, 255);
color:rgb(235, 128, 15);
border:rgb(225, 0, 0);
}
