#nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem; 
    overflow: hidden;
  
}
#nav{
background-color: rgb(24, 24, 24);
border-radius: 12px;
position: fixed;
top: 0;
left: 0;
width: 100%;
background-position: left bottom;



}
li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    
  }
#nav a:hover {
  color: white;
  background: linear-gradient(90deg, rgb(211, 157, 86) 0%, rgb(255, 85, 0) 100%);

}